# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Spring_2020\ali_parent\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
